replicaCount: 1

image:
  repository: asia-south1-docker.pkg.dev/automation-480006/gke-docker-repo/auth-service
  tag: "726cadf76eede02c79929b19f5dded4b72d147b9"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

resources:
  limits:
    cpu: "200m"
    memory: "256Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
