replicaCount: 1

image:
  repository: asia-south1-docker.pkg.dev/automation-480006/gke-docker-repo/auth-service
  tag: "c34fae3b94071733380c7cff8ad02b32028909fb"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

resources:
  limits:
    cpu: "200m"
    memory: "256Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
