replicaCount: 2

image:
  repository: us-central1-docker.pkg.dev/automation-480006/my-repo/auth-service
  tag: "2cb3ad7ced3a1fafb0efbfbc9ee380c3ee394b8b"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
