replicaCount: 2

image:
  repository: us-central1-docker.pkg.dev/automation-480006/my-repo/auth-service
  tag: "86a82602507687c850f4d4f06b70857557d40e0e"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
